In [1]:
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('Datasets/zoo.csv')

In [3]:
df.head()

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [4]:
x = df.iloc[:, 1:-1]
y = df.iloc[:, -1]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [6]:
classifier = KNeighborsClassifier()

classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [7]:
predictions = classifier.predict(X_test)

In [8]:
print(predictions)

[4 5 2 5 1 1 4 1 1 6 4 1 1 4 6 6 1 1 4 2 6]

In [9]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[8, 0, 2, 0, 0, 0],
       [0, 2, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0],
       [0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 2, 0],
       [0, 0, 0, 1, 2, 0]], dtype=int64)

In [10]:
pd.DataFrame({'True Label': y_test,
              'Predicted Label': predictions,
              'Correct': y_test==predictions})

    True Label  Predicted Label  Correct
18           4                4     True
25           5                5     True
59           2                2     True
14           7                5    False
10           1                1     True
17           1                1     True
61           4                4     True
49           1                1     True
0            1                1     True
30           6                6     True
74           1                4    False
31           1                1     True
1            1                1     True
38           4                4     True
51           6                6     True
15           7                6    False
98           1                1     True
45           1                1     True
66           1                4    False
56           2                2     True
53           7                6    False